<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lordsam.securestore">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PopUpEmailPasswordActivity"
            android:theme="@style/Dialog"/>
        <activity android:name=".PopUpPANActivity" />
        <activity android:name=".PopUpWebsiteActivity" />
        <activity
            android:name=".PopUpAdharActivity"
            android:theme="@style/Dialog" />
        <activity
            android:name=".PopUpCreditDebitActivity"
            android:theme="@style/Dialog" />
        <activity android:name=".CreditDebitCardActivity" />
        <activity android:name=".AdharActivity" />
        <activity android:name=".EmailPasswordActivity" />
        <activity android:name=".PanCardActivity" />
        <activity android:name=".PassportActivity" />
        <activity android:name=".WebsiteActivity" />
        <activity android:name=".CreateAccountActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>